<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Emotion Prediction App</title>
</head>

<body>
    <main>
        <div class="container">
            <h1 class="card__window__title">Emotion Prediction</h1>
            <div class="card">
                <h2 class="card__title">Daftar Emosi</h2>
                <div class="output-window">
                    <div class="emote emote-1">Senang</div>
                    <div class="emote emote-2">Marah</div>
                    <div class="emote emote-3">Sedih</div>
                    <div class="emote emote-4">Takut</div>
                    <div class="emote emote-5">Jijik</div>
                    <div class="emote emote-6">Khawatir</div>
                </div>
                <form action="" class="input-form">
                    <input type="text" class="input-text">
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class="attribution">
            <p>&copy; copyright 2022 | built with <i class="bi bi-heart-fill text-danger"></i> by <a
                    href="https://github.com/azizp128" class="text-white fw-bold"> Aziz Prabowo</a>.</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>